<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Добавить категорию</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        header {
          background-color: #333;
          color: #fff;
          padding: 10px;
          text-align: center;
        }

        h1 {
          margin: 0;
        }

        nav {
          background-color: #eee;
          padding: 10px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        li {
          display: inline-block;
          margin-right: 10px;
        }

        li:last-child {
          margin-right: 0;
        }

        a {
          color: #333;
          text-decoration: none;
        }

        a:hover {
          color: #666;
        }
      </style>
  </head>
  <body>
    <header>
        <h1>My Online Store</h1>
      </header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/orders">Orders</a></li>
        </ul>
      </nav>
    <main>
      <h1>Список категорий</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(function(category) { %>
            <tr>
              <td><%= category._id %></td>
              <td><%= category.name %></td>
              <td><%= category.description %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <h1>Добавить категорию</h1>
      <form action="/categories" method="POST">
        <div class="form-group">
          <label for="name">Название категории:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="description">Описание категории:</label>
          <textarea id="description" name="description" required></textarea>
        </div>
        <button type="submit">Добавить</button>
      </form>
    </main>
  </body>
</html>
